[id^=first-screen-css] select {
    width:100%;
    box-sizing:border-box;
}
[id^=first-screen-css] fieldset label {
    display:inline-block;
    min-width:90px;
    margin-right:16px;
    white-space:nowrap;
}
[id^=first-screen-css] input[type=text],
[id^=first-screen-css] textarea {
    width:100%;
}
[id^=first-screen-css] p {
    margin:30px 0 10px;
}
[id^=first-screen-css] p + p {
    margin-top:10px;
}

#fcpfsc-rest-css-defer {
    margin-top: 12px;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #888;
}

button[name=format], button[name=linewrap], button[name=infinity] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -15px;
    font-family: monospace;
}
button[name=linewrap] {
    top: 26px;
}
button[name=infinity] {
    top: 52px;
}